html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
}

iframe {
    height: 100%;
    display: flex;
    flex-grow: 1;
}

form {
    width: 540px;
    height: 100%;
}

.dropdown {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

img {
    width: 72px;
    height: 72px;
    border-radius: 5px;
}

.image-wrapper {
    position: relative;
    cursor: pointer;
    line-height: 0;
}

.grayscaler {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
}

.image-wrapper.selected > .grayscaler,
.image-wrapper:hover > .grayscaler {
    display: block;
}

.checkmark {
    width: 24px;
    height: 24px;
    margin: 24px;
}

.colors {
    display: none;
}

.colors.active {
    display: flex;
}
