html {
    height: 100%;
    user-select: none;
}

body {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

b {
    font-weight: bold;
}

iframe {
    height: 100%;

    display: flex;
    flex-grow: 1;
}

form {
    width: 532px;
    height: 100%;
}

.dropdown-header {
    position: relative;
    z-index: 999;

    padding: 20px;
    background-color: #dddddd;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.chevron {
    transition: 0.3s ease-in-out;
}

.rotate-180 {
    transform: rotate(180deg);
}

.dropdown-items {
    position: absolute;
    top: 72px;

    transition: 0.5s ease-in-out;
}

.hide-dropdown {
    position: absolute;
    top: calc(-100% - 72px);
}

.chevron {
    width: 32px;
    height: 32px;
}

section {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

selectable-image {
    height: 72px;
    width: 72px;
}

.colors {
    display: none;
}

.colors.active {
    display: flex;
}
